.box{
font-size: large;
color: rgb(26, 39, 26);
font-weight: bolder;
margin: 5%;
cursor: pointer;
}

.hightlightSelected{
    color: cornflowerblue;
}

#dash{
 font-size: medium;   
 font-weight: bold;
 font-style: oblique;
 text-align: center;
}