<div class="row">

    <div class="col-md-3">
        <ng-container *ngFor="let ele of page | keyvalue; first as isFirst">
            <div *ngIf="isFirst" class="col box hightlightSelected" id={{ele.value.pk}} (click)="setPage(ele.value.pk)">
                {{ele.value.name}}</div>
            <div *ngIf="!isFirst" class="col box dummy" id={{ele.value.pk}} (click)="setPage(ele.value.pk)">
                {{ele.value.name}}</div>
        </ng-container>
    </div>

    <div class="col">
        <div *ngIf="dir==='d'" id="dash">
            Hi {{userSession.name}}
        </div>
        <app-report *ngIf="dir==='r'" [designation]="this.userSession.desgn"></app-report>
    </div>

</div>